---
const props = Astro.props;
const { sceneId, code, text, description, pitch, yaw, hfov = 120 } = props;
const snakeSceneId = (sceneId || code).replace(/[*+~.()'"!:@]/g, "_");
// look at infomodal animation speed
const animation = 2000; // 1000 is default
---

<button
  class="d-btn-neutral p-3 w-full border-2 bg-white text-black text-center cursor-pointer"
  onclick={`window.pannellumViewer.lookAt(${pitch},${yaw},${hfov},${animation});${snakeSceneId}_modal.showModal()`}
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    class="size-6 inline"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z"
    ></path>
  </svg>

  {text}
</button>

<dialog
  id={`${snakeSceneId}_modal`}
  class="d-modal d-modal-bottom md:d-modal-middle"
>
  <div class="d-modal-box bg-white">
    <div class="flex justify-between">
      <h3 class="text-lg font-bold">{text}</h3>
      <div class="d-modal-action">
        <form method="dialog">
          <button class="d-btn-neutral fill-black cursor-pointer">
            <svg
              class="text-black size-6"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18 18 6M6 6l12 12"></path>
            </svg>
          </button>
        </form>
      </div>
    </div>

    <div class="py-4 prose" set:html={description} />
  </div>
  <form method="dialog" class="d-modal-backdrop">
    <button>close</button>
  </form>
</dialog>
